<div class="card">
    <div class="card-body p-1">
        @if (@CardTitle is not null)
        {
            <h5 class="card-title">@CardTitle</h5>
        }
        @if (@CardSubtitle is not null)
        {
            <h6 class="card-subtitle mb-2 text-body-secondary">@CardSubtitle</h6>
        }
        @if (@CardText is not null)
        {
            <p class="card-text">@CardText</p>
        }
        @if (@CardChildContent is not null)
        {
            @CardChildContent
        }
    </div>
</div>

@code {
    [Parameter]
    public string? CardTitle { get; set; }

    [Parameter]
    public string? CardSubtitle { get; set; }

    [Parameter]
    public string? CardText { get; set; }

    [Parameter]
    public RenderFragment? CardChildContent { get; set; }
}
