@using EntityFrameworkWeatherApp.Models
@using EntityFrameworkWeatherApp.Mediator.WeatherAPI.CombinedWeather
@using EntityFrameworkWeatherApp.Mediator.WeatherAPI.OpenWeather
@using EntityFrameworkWeatherApp.Mediator.WeatherAPI.WeatherAPI
@using EntityFrameworkWeatherApp.Components.Shared
@using Microsoft.AspNetCore.Mvc
@using global::WeatherAPI.Models.OpenWeather
@inject ISender sender
@inject IHttpContextAccessor HttpContextAccessor

<EditForm method="get" Model="@owLocationNameViewModel" OnValidSubmit="@OpenWeatherLocationSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ExceptionDisplayTemplate exception="@owLocationError" />
    <div class="row border grid">
        <div class="col-8">
            <div class="form-floating">
                <InputText type="text" class="form-control selectclick" id="openweatherLocation" placeholder="Location" @bind-Value="owLocationNameViewModel!.Location" />
                <label for="openweatherLocation">Location</label>
                <ValidationMessage For="() => owLocationNameViewModel.Location" />
            </div>
        </div>
        <div class="col-4 pt-2">
            <div class="form-floating">
                <button type="submit" class="btn btn-primary" id="openweatherLocationSubmit"
                        disabled=@(SubmitDisabled || IsGettingWeatherData)>
                    @if (SubmitDisabled == true)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Loading...</span>
                    }
                    else
                    {
                        <span>Submit</span>
                    }
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<OpenWeatherDataModel?> ReturnData { get; set; }

    [Parameter]
    public EventCallback<bool> ReturnIsGettingWeatherData { get; set; }
    [Parameter]
    public bool IsGettingWeatherData { get; set; } = false;

    private bool SubmitDisabled { get; set; } = false;

    public void ClearForm()
    {
        owLocationError?.Clear();
    }

    private LocationNameViewModel owLocationNameViewModel { get; set; } = new();
    private Dictionary<string, List<ProblemDetails>>? owLocationError { get; set; } = [];

    private async Task OpenWeatherLocationSubmit()
    {
        ClearForm();

        IsSubmitButtonDisabled(true);

        var resultObj = await OpenWeatherResults.GetOpenWeatherDirectLocationResult(
            owLocationNameViewModel.Location,
            sender, new()
                {
                    Context = HttpContextAccessor.HttpContext,
                    BlazorComponent = nameof(OpenWeatherLocationSubmit)
                });

        if (resultObj.IsSuccess)
        {
            await ReturnData.InvokeAsync(resultObj.Value);
        }
        else
        {
            if (resultObj.Exception != null)
            {
                owLocationError = resultObj.Exception;
            }
        }

        IsSubmitButtonDisabled(false);
    }

    private void IsSubmitButtonDisabled(bool IsDisabled)
    {
        SubmitDisabled = IsDisabled;
        ReturnIsGettingWeatherData.InvokeAsync(IsDisabled);
    }
}
