@using EntityFrameworkWeatherApp.Components
@{
    ViewData["Title"] = "Swagger";
}

<div class="text-center">
    <h1 class="display-4">Swagger</h1>
    <p>Swagger is not provided on production.</p>
</div>