@using EntityFrameworkWeatherApp.Models
@using EntityFrameworkWeatherApp.Mediator.WeatherAPI
@using EntityFrameworkWeatherApp.Components.Shared
@using Microsoft.AspNetCore.Mvc
@using global::WeatherAPI.Models.OpenWeather
@inject ISender sender
@inject IHttpContextAccessor HttpContextAccessor

<EditForm method="get" Model="@owLatLongViewModel" OnValidSubmit="@OpenWeatherLatLongSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ExceptionDisplayTemplate exception="@owLatLongError" />
    <div class="row border grid">
        <div class="col-4">
            <div class="form-floating">
                <InputNumber type="text" class="form-control selectclick" id="openweatherLatLongLatitude" placeholder="Latitude" @bind-Value="owLatLongViewModel!.Latitude" />
                <label for="openweatherLatLongLatitude">Latitude</label>
                <ValidationMessage For="() => owLatLongViewModel.Latitude" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating">
                <InputNumber type="text" class="form-control selectclick" id="openweatherLatLongLongitude" placeholder="Longitude" @bind-Value="owLatLongViewModel!.Longitude" />
                <label for="openweatherLatLongLongitude">Longitude</label>
                <ValidationMessage For="() => owLatLongViewModel.Longitude" />
            </div>
        </div>
        <div class="col-4 pt-2">
            <div class="form-floating">
                <button type="submit" class="btn btn-primary" id="openweatherLatLongSubmit">Submit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<OpenWeatherDataModel?> ReturnData { get; set; }

    public void ClearForm()
    {
        owLatLongError?.Clear();
    }

    private LatLongViewModel owLatLongViewModel = new();
    private Dictionary<string, List<ProblemDetails>>? owLatLongError { get; set; } = [];

    private async Task OpenWeatherLatLongSubmit()
    {
        ClearForm();

        var resultObj = await OpenWeatherResults.GetOpenWeatherDirectLatLongResult(
            owLatLongViewModel.Latitude, owLatLongViewModel.Longitude,
            sender, new()
                {
                    Context = HttpContextAccessor.HttpContext,
                    BlazorComponent = nameof(OpenWeatherLatLongSubmit)
                });

        if (resultObj.IsSuccess)
        {
            await ReturnData.InvokeAsync(resultObj.Value);
        }
        else
        {
            if (resultObj.Exception != null)
            {
                owLatLongError = resultObj.Exception;
            }
        }
    }
}
