@using EntityFrameworkWeatherApp.Models
@using EntityFrameworkWeatherApp.Mediator.WeatherAPI
@using EntityFrameworkWeatherApp.Components.Shared
@using Microsoft.AspNetCore.Mvc
@using global::WeatherAPI.Models.WeatherAPI
@inject ISender sender
@inject IHttpContextAccessor HttpContextAccessor

<EditForm method="get" Model="@waLatLongViewModel" OnValidSubmit="@WeatherAPILatLongSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ExceptionDisplayTemplate exception="@waLatLongError" />
    <div class="row border grid">
        <div class="col-4">
            <div class="form-floating">
                <InputNumber type="text" class="form-control selectclick" id="weatherAPILatLongLatitude" placeholder="Latitude" @bind-Value="waLatLongViewModel!.Latitude" />
                <label for="weatherAPILatLongLatitude">Latitude</label>
                <ValidationMessage For="() => waLatLongViewModel.Latitude" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating">
                <InputNumber type="text" class="form-control selectclick" id="weatherAPILatLongLongitude" placeholder="Longitude" @bind-Value="waLatLongViewModel!.Longitude" />
                <label for="weatherAPILatLongLongitude">Longitude</label>
                <ValidationMessage For="() => waLatLongViewModel.Longitude" />
            </div>
        </div>
        <div class="col-4 pt-2">
            <div class="form-floating">
                <button type="submit" class="btn btn-primary" id="weatherAPILatLongSubmit"
                        disabled=@(SubmitDisabled || IsGettingWeatherData)>
                    @if (SubmitDisabled == true)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span>Loading...</span>
                    }
                    else
                    {
                        <span>Submit</span>
                    }
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<WeatherAPICurrentModel?> ReturnData { get; set; }

    [Parameter]
    public EventCallback<bool> ReturnIsGettingWeatherData { get; set; }
    [Parameter]
    public bool IsGettingWeatherData { get; set; } = false;

    private bool SubmitDisabled { get; set; } = false;

    public void ClearForm()
    {
        waLatLongError?.Clear();
    }

    private LatLongViewModel waLatLongViewModel = new();
    private Dictionary<string, List<ProblemDetails>>? waLatLongError { get; set; } = [];

    private async Task WeatherAPILatLongSubmit()
    {
        ClearForm();

        IsSubmitButtonDisabled(true);

        var resultObj = await WeatherAPIResults.GetWeatherAPIWeatherByLatLongResult(
            waLatLongViewModel.Latitude, waLatLongViewModel.Longitude,
            sender, new()
                {
                    Context = HttpContextAccessor.HttpContext,
                    BlazorComponent = nameof(WeatherAPILatLongSubmit)
                });

        if (resultObj.IsSuccess)
        {
            await ReturnData.InvokeAsync(resultObj.Value);
        }
        else
        {
            if (resultObj.Exception != null)
            {
                waLatLongError = resultObj.Exception;
            }
        }

        IsSubmitButtonDisabled(false);
    }

    private void IsSubmitButtonDisabled(bool IsDisabled)
    {
        SubmitDisabled = IsDisabled;
        ReturnIsGettingWeatherData.InvokeAsync(IsDisabled);
    }
}
