@using EntityFrameworkWeatherApp.Components
@{
    ViewData["Title"] = "Weather";
}

<div class="text-center">
    <h1 class="display-4">Weather Page</h1>
    <component type="typeof(WeatherSelectDisplay)" render-mode="Server" />
</div>
